.service-card-container {
    width: 51.188;
    height: 96px;
    background-color: #EAF3F9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
}

.serviceCard-body{
    width: 41.25rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.serviceCard-body-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #151515;
}

.serviceCard-body-para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #363E3D;
    margin-top: 0.75rem;
}