


.procedure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.procedure-heading {
    display: flex;
    flex-direction: row;
    width: 1488px;
}

.procedure-heading--text {
    font-family: 'Poppins';
    padding-left: 5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: rgba(45, 156, 219, 1)
}
.procedure-line-container{
    position: relative;
    margin-top: 96px;
    width: 1302px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: rgba(45, 209, 219, 1) rgba(45, 156, 219, 1) rgba(26, 142, 208, 1);
}
.procedure-line {
    width: 1302px;
    height: 24px;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    transition: width 3s ease-in;
}

.step {
    position: absolute;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background: #EAF3F9;
    border: 4px solid;
    border-color: rgba(45, 209, 219, 1) rgba(45, 156, 219, 1) rgba(26, 142, 208, 1);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.--1{
    left: -3%;
}
.--2{
    left: 50%;
}
.--3{
    left: 99%;
}
.step span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.05em;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.procedurecard-card-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #EAF3F9;
}