@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bckcolor{
    background: #EAF3F9;
}





.codewonder-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: white;

}

.fa-solid{
    color: white;
    font-size: 25px
}

.codewonder-card{
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);


box-shadow: 0px 12px 24px 4px rgba(10, 61, 89, 0.3);
border-radius: 16px;
padding-top: 20%;
height: 25vh;
width: auto;
}









.codewonder-head{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    /* or 35px */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    

}

.serPara{
    /* Body */

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.05em;

/* txtlight */

color: #363E3D;
}

#wondercode{
    display: flex !important;
    justify-content: center !important;
    width: 100%;
   
}
.wonderimg{
    max-width: 20%;
    height: auto;
    
}
   
    