.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #091115;
}

.footer-container {
  margin-top: 32px;
  margin-left: 90px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 25%;
}

.footer-img {
  width: 300px;
  height: px;
}

.footer-about-desc {
  margin-top: 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #DFE7F1;
}

.icon {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

.Register_a {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 15%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.4rem;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.footer-heading {
  display: flex;
  flex-direction: row;
}

.footer-heading h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 16px;
}


.Register_a ul {
  list-style: none;
  margin-top: 15px;
}

.Register_a ul li {
  margin-top: 5px;
  margin-left: -1.8rem;
}

.Register_a ul li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-decoration: none;
}

.Register_a ul li a:hover {
  color: #2D9CDB;
}

.payment {
  margin-top: 51px;
  width: 313px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #2D9CDB;
}

.payment-partner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paymnet-partner-img {
  width: 88px;
  height: 42px;
}

.footer_info {
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px 0;
}
.footer-box{
  width: 100%;
  height: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.hr{
  border: .5px solid #2D9CDB;
  z-index: 0;
  position: absolute;
  top: 12px;
  width: 100%;
}
