@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bckcolor{
    background: #EAF3F9;
}

.blog-card{
   
    padding: 18px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imgcss{
    box-sizing: border-box;
    border-radius: 12px;
}
.blogpara{
    text-align: left;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #A3A3A3;
}
   


.blog-title{
    /* Subheading */

    text-align: left;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 110%;
/* or 35px */

letter-spacing: 0.05em;

/* 11 */

background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.datecss{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
/* identical to box height */

letter-spacing: 0.05em;

color: #707070;

}

.calspan{
    padding-right: 3%;
    
    
}

.calcss{
    width: 12px;
    height: auto;
    padding-bottom: 1%;
   
}

/* .card-text{
    text-align: left;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #A3A3A3;
} */

.btncss{
    float: left;
    background: transparent;
    border: transparent;
    font-weight: 600;
    font-size: 16px;
     display: flex;
/* 11 */
    margin-left: -15px;

    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.text-head{
    
    /* Display */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
/* line-height: 100%; */
/* or 70px */

text-align: center;
letter-spacing: 0.05em;

/* 11 */

background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.serPara{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.05em;
margin-bottom: 5%;

/* txtlight */

color: #363E3D;
}
    