.confused-card-container {
    position: absolute;
    width: 77.625rem;
    height: 25.813rem;
    background: #FFFFFF;
    border: 1px solid #2D9CDB;
    box-shadow: 0px 0px 32px 11px rgba(32, 115, 163, 0.3);
    border-radius: 24px;
    overflow: hidden;
    top: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.confused-card-heading--text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.05em;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.confused-card-details {
    width: 64.75rem;
    height: 5.063rem;
}

.confused-card-details--text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #363E3D;
}

.confused-card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.563rem;
    gap: 8px;
    border: none;
    width: 24.563;
    height: 4.125rem;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    box-shadow: 0px 8px 22px rgba(17, 23, 27, 0.2);
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #F5FFFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}